[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
isort = {extras = ["pipenv"], version = "*"}

[packages]
torch = "*"
torchvision = "*"
cython = "*"
pycocotools = "*"
fire = "*"
tqdm = "*"
h5py = "*"
matplotlib = "*"
spacy = "*"
tabulate = "*"

[requires]
python_version = "3.8"
